body{
    background-image: url(../img/Fundos.png);
    color: rgb(197, 32, 76);
    align-items: center;
    text-align: center;
    min-height: 100vh;
}
h1{
    padding: 20px;
    font-size: 80px;
}

.grid-container{
    display: grid;
    grid-template: 150px 150px / 500px 450px ;
    align-items: center;
    justify-content: center;
    background-color: transparent;

}

.grid-item{
    background-color:transparent;
    color: white;
    text-align: center;
    margin: 2px;
    padding: 10px;
}
a{
    border: 2px solid;
    font: inherit;
    line-height: 1;
    margin: 0.5em;
    padding: 1em 2em;
    background-color: rgb(233, 85, 85);
    border-radius: 20px;
    font-size: 20px;
    text-decoration: none;
    color: rgb(255, 255, 255);
    justify-content: center;
    align-items: center;
}